# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS & Temp
.DS_Store
Thumbs.db
ehthumbs.db
[Nn]otebooks/.ipynb_checkpoints
*.tmp
*.log
scratch/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Exclude ALL Word Reports & PDFs from GitHub
*.docx
*.doc
*.pdf
generate_final_report.py
eq_helper.py

# Raw / Intermediate Data & Augmented Datasets
Dataset Motif Kain Sasirangan/
Dataset Motif Kain Sasirangan.zip
data_industri_sasirangan.csv
data_industri_sasirangan.xlsx
data_industri_sasirangan_banjarmasin.csv
build_frontend.py
build_pages.py
fix_standalone.py

# Static Uploads
static/uploads/*
!static/uploads/.gitkeep
